.app {
  padding-top: 4rem;
}
.app-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  padding: 0.5rem 1rem;
}
.header-brand {
  font-size: 1.5rem;
  font-weight: 600;
}
.header-menu {
  display: none;
}
.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-menu > ul > li:not(:last-child):after {
  content: "-";
  color: var(--color-gray-mid);
  margin: 0 1rem;
}
.header-menu > ul > li > a {
  color: var(--color-gray-mid);
  text-decoration: none;
}
.header-menu > ul > li > a:hover {
  color: var(--color-white);
}
.loading,
.error {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .app-header {
    justify-content: space-between;
  }
  .header-menu {
    display: initial;
  }
}